* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  margin-left: 20px;
  margin: 20px;
  background-color: #f0f7f4;
}

/* I added styling, padding, and font sizes to make sure that the 
header looked appropriately sized for the page. 
I also added a font family here to make sure 
all browsers would be supported.  */
header {
  background-color: #7e8d85;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 48px;
  padding-top: 15px;
}

nav {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  display: flex;
  max-width: 100%;
  width: 100%;
  background-color: #7e8d85;
}

nav a {
  background-color: #7e8d85;
  padding: 14px 20px;
  color: #fff;
  text-decoration: none;
  float: none;
  text-align: center;
}

main {
  margin-left: 20px;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #595959;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #595959;
}

section {
  margin-left: 20px;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #595959;
}

/* styling for all project elements. 
I consolodated them all into one selector because 
I wanted them all to have similar properties */

.project {
  flex: 1 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  font-size: x-large;
  border-style: solid;
  border-width: 1px;
  height: 150px;
  width: 100%;
  min-width: 400px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #7e8d85;
  color: #ffffff;
}

.projects {
  margin-left: 20px;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #595959;
}

.project header {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  background: #7e8d85;
  color: #fff;
}

.project header p {
  font-size: 36px;
  margin-bottom: 5px;
}

.project header a {
  color: #fff;
  text-decoration: underline;
}

.project header a:active {
  color: blue;
  text-decoration: underline;
}

.project header a:visited {
  color: #fff;
  text-decoration: underline;
}

section {
  margin-left: 20px;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #595959;
}

footer {
  margin: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #595959;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}
