* {
    box-sizing: border-box;
    padding; 0;
    margin 0;
}

body {
    background-color: #F0F7F4;
}

/* I added styling, padding, and font sizes to make sure that the 
header looked appropriately sized for the page. 
I also added a font family here to make sure 
all browsers would be supported.  */
header {
    background-color: #7E8D85;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    color: #fff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    padding-top: 15px;
}

header nav {
    padding-top: 15px;
    margin-top: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
    background-color: #7e8d85;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #000000;
    text-decoration: none;
}

main {
    display: inline-block
    margin-left: 20px;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #595959;
}

/* styling for all project elements. 
I consolodated them all into one selector because 
I wanted them all to have similar properties */
.project {
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #B3BFB8;
    color: #ffffff;
}

.project header {
    padding: 20px;
    text-align: center;
    background: #B3BFB8;
    color: #fff;
}

.floatLeft {
    float: left;
    margin: 25px;
}

.floatRight {
    float: right;
    margin: 25px;
}

section {
    margin-left: 20px;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #595959;
}

footer {
    margin: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #595959;
}
 